<div class="card-container animate__animated animate__fadeIn">
  <div class="header">
    <img src="assets/NgPokedex.png" />
  </div>
  <mat-card class="card-pokemon" *ngFor="let pokemonDetails of pokedex">
    <mat-card-header>
      <mat-card-title>{{ pokemonDetails.name | uppercase }}</mat-card-title>
      <mat-card-subtitle>
        <mat-chip-listbox aria-label="Tipo de pokemon">
          <mat-chip-option *ngFor="let type of pokemonDetails.types">{{
            type.type.name | uppercase
          }}</mat-chip-option>
        </mat-chip-listbox>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="pokemonDetails.pic" alt="Foto de un Pokemon" />
    <mat-card-content>
      <ul class="list-group border-0">
        <li class="list-group-item fs-4 text-center">
          #{{ pokemonDetails.order }}
        </li>
        <li class="list-group-item fs-6">
          Experiencia: {{ pokemonDetails.base_experience }}
        </li>
        <li class="list-group-item fs-6">
          Peso: {{ pokemonDetails.weight }} kg
        </li>
        <li class="list-group-item fs-6">
          Altura: {{ pokemonDetails.height }} ft
        </li>
      </ul>
      <mat-card-actions>
        <button
          (click)="update()"
          mat-raised-button
          color="primary"
          matTooltip="Cambiar Pokemon"
        >
          <mat-icon>update</mat-icon>
          Actualizar
        </button>
        <button
          (click)="delete(pokemonDetails)"
          mat-raised-button
          color="warn"
          matTooltip="Borrar Pokemon"
        >
          <mat-icon>delete</mat-icon>
          Borrar
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
