.card-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
.mat-mdc-fab.mat-primary,.mat-mdc-mini-fab.mat-primary {
  --mat-fab-container-color: #328afd;
  --mat-fab-icon-color: white;
  --mat-mdc-fab-color: #fff
}
.mat-mdc-fab[disabled][disabled],.mat-mdc-mini-fab[disabled][disabled] {
  --mat-fab-container-color: rgba(255, 255, 255, 0.12);
  --mat-fab-icon-color: rgba(255, 255, 255, 0.5);
  --mat-mdc-fab-color: rgba(255, 255, 255, 0.5)
}
.mat-mdc-fab.mat-warn,.mat-mdc-mini-fab.mat-warn {
  --mat-fab-container-color: #be4180;
  --mat-fab-icon-color: white;
  --mat-mdc-fab-color: #fff
}
.spinner__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.mat-mdc-progress-spinner {
  --mat-progress-spinner-active-indicator-color: #f5c93b;
}
.filter-field {
  width: 100%;
  margin-bottom: 16px;
}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgba(245, 201, 59, 0.18) !important;
  border-color: #d9e4f2;
  transition: background-color 0.2s cubic-bezier(0.25, 0.15, 0.25, 1),
    cursor 0.5s ease-in-out;
}

.pokemon-in-pokedex {
  font-weight: bold;
  color: #fef8e7 !important;
  background-color: rgba(245, 201, 59, 0.21) !important;
}

.cdk-column-pokedex .mat-column-pokedex {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: aqua;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.mat-mdc-mini-fab {
  margin: 6px;
  width: 40px;
  height: 40px;
}
.hidden-mobile {
  display: none;
}
