h1 {
  text-align: center;
}

/* Estilos para el primer elemento (app-card-pokemon-details) */
app-card-pokemon-details {
  position: absolute;
  top: 50%;  /* Ajusta según sea necesario para centrar verticalmente */
  left: 50%; /* Ajusta según sea necesario para centrar horizontalmente */
  transform: translate(-50%, -50%);
  z-index: 1000; /* Asegúrate de que esté por encima del segundo elemento */
}

/* Estilos para el segundo elemento (app-card-pokemon) */
app-card-pokemon {
  /* Puedes agregar estilos adicionales para el segundo elemento aquí si es necesario */
}