.card-container {
  border: 6px solid #004bad;
  border-radius: 15px;
}
.mdc-dialog__container {
  border-radius: 15px;
}
.card-pokemon {
  display: flex;
  /* background-color: rgba(0, 75, 173, .21); */
  background-color: rgba(245, 201, 59, 0.6) !important;

  justify-content: center;
  align-items: center;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 0 11px #cacaca;
  padding: 30px;
}
button {
  margin: 12px 0;
}
.mat-mdc-outlined-button.mat-accent {
  --mdc-outlined-button-label-text-color: #004bad;
}
.mat-mdc-outlined-button.mat-accent {
  --mat-mdc-button-persistent-ripple-color: #004bad;
  --mat-mdc-button-ripple-color: rgba(105, 240, 174, 0.1);
}
.mat-mdc-card-title {
  font-size: 28px;
  color: #965ee1;
  text-align: center;
  margin-bottom: 2rem;
}
.mat-mdc-card-subtitle {
  text-decoration: none;
  color: #004bad;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}
.type {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 210px;
  max-width: 210px;
  object-fit: cover;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}
.list ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  color: #004bad;
}
::marker {
  content: none;
  margin-right: 0;
}
span {
  font-weight: bold;
  color: #0289be;
}
.pokemon-in-pokedex {
  font-weight: bold;
  background-color: rgba(245, 201, 59, 0.9) !important;
}
