<div class="card-container">
  <mat-card class="card-pokemon">
    <mat-card-header>
      <mat-card-title>{{ pokemonDetails.name | uppercase }}</mat-card-title>
      <mat-card-subtitle>
        <mat-chip-listbox aria-label="Tipo de pokemon">
          <mat-chip-option *ngFor="let type of pokemonDetails.types">{{
            type.type.name | uppercase
          }}</mat-chip-option>
        </mat-chip-listbox>
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="pokemonDetails.pic" alt="Foto de un Pokemon" />
    <mat-card-content>
      <ul class="list-group border-0">
        <li class="list-group-item fs-4 text-center">
          #{{ pokemonDetails.order }}
        </li>
        <li class="list-group-item fs-6">
          Experiencia: {{ pokemonDetails.base_experience }}
        </li>
        <li class="list-group-item fs-6">
          Peso: {{ pokemonDetails.weight }} kg
        </li>
        <li class="list-group-item fs-6">
          Altura: {{ pokemonDetails.height }} ft
        </li>
      </ul>
      <mat-card-actions>
        <button (click)="add()" mat-raised-button color="primary">
          <mat-icon>add</mat-icon>
          Pokedex
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
