<div class="card-container">
  <mat-card
    class="card-pokemon"
    [ngClass]="{ 'pokemon-in-pokedex': inPokedex }"
  >
    <mat-card-header>
      <mat-card-title>{{ pokemonDetails.name | uppercase }}</mat-card-title>
      <mat-card-subtitle>
        {{ pokemonDetails.order }}
      </mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      [src]="pokemonDetails.pic"
      alt="Foto de {{ pokemonDetails.name }}"
      loading="lazy"
    />
    <mat-card-content>
      <div class="type">
        <mat-chip-set aria-label="Tipo de pokemon">
          <mat-chip *ngFor="let type of pokemonDetails.types">{{
            type.type.name | uppercase
          }}</mat-chip>
        </mat-chip-set>
      </div>
      <div class="list">
        <ul>
          <li class="experience">
            Experiencia: <span>{{ pokemonDetails.base_experience }}</span>
          </li>
          <li class="weight">
            Peso: <span>{{ pokemonDetails.weight }}</span> kg
          </li>
          <li class="height">
            Altura: <span>{{ pokemonDetails.height }}</span> ft
          </li>
        </ul>
      </div>
      <mat-card-actions>
        <button
          mat-stroked-button
          (click)="add()"
          matTooltip="Agregar pokemon a pokedex"
          color="accent"
          *ngIf="!inPokedex"
        >
          <mat-icon>add</mat-icon>
          Agregar
        </button>
        <button (click)="close()" mat-stroked-button>
          <mat-icon>close</mat-icon>
          Cerrar
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
